@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Azeret Mono", monospace;
}

/*Top Header Banner and Text start here */ 

.awlad {
    
position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px;
font-size: 28px;
font-weight: 800px;
margin-left: 12%;
}

.download {
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
width: 228px;
height: 58px;
left: 1046px;
top: 38px;
position: absolute;
margin-right: 0%;
}
.banner-container {   
position: absolute;
width: 1440px;
height: 652px;
margin: 0 auto;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
margin: top 20px;
background-image: url(../images/Hero-bg.png); 

}
  /* Laptop boy icon */
.laptopboy {
  display: inline;
  margin-top: 26px;
  flex-direction: row;
  margin-left: 599px;

}

/*header text and title */

.headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headertext > h2 {
    color:rgb(13, 19, 33) ;
    font-size: 48px;
    font-weight: 800px;
    text-align: center;
}

.headertext > p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font: weight 400px; ;
    margin-top: 24px;
}

.contactme{
    border-radius: 8px;
    
    background: rgb(13, 19, 33);
   
position: static;
width: 208px;
height: 66px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
border: none;
margin: 32px 0;
font-size: 20px;
font-weight: 600px;
text-align: center;

}


/* Header bottom why development */

.backgroundbox {
    width: 946px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 852px auto 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
   
    
}

.containerbox {
    background-color:rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: static;
    font-display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
    

}

.containerboxwhy h3{
    text-align: center;
}

.containerbox  {
    text-align: center;
    justify-content: center;
}

.development {
    text-align: center;
    margin-bottom: 48px;
}

.containerbox h3 {
    margin: 0;
    margin-right: 0%;
   
}

.containerbox p {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagebox {
    float: right;
}
.rightside-image {
    width: 150px;
    float: right;
    
}

.leftimage {
    width: 150px;
    float: left;
}

.thirdimage {
    width: 150px;
    float: right;
}
.textrect {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    

}

/*Here go the target-next target section*/

section{
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}


.video-youtube{
    text-align: center;
    margin: 15px;
}

iframe{
    border: none;
    border-radius: 5px;
}

.smallboxgroup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: width;
    border: 2px red;
}

.smallbox {
    background: rgba(255, 76, 30, 0.05);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 364px;
    text-align: center;
}

.smallbox1 {
    background: rgba(0, 76, 232, 0.05);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 364px;
    text-align: center;
}

.smallbox2 {
    background: rgba(255, 223, 0, 0.05);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 364px;
    text-align: center;
}

h4 {
    font-size:24px ;
    margin-bottom: 10px;
}

.learnmore {
    background-color: rgb(13, 19, 33);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.learnmore:hover {
    background-color: #0056b3;
}

/* my next target section*/

h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 800px;
}

p {
    font-size: 16px;
    font-weight: 400px;
    text-decoration:rgb(13, 19, 33) ;
}
.my-next-target1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-next-target {
    background: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 1140px;
    text-align: center;
}
.support {
    position: relative;
    padding: 20px;
    background-image: url(../images/handshake.jpg);
}

.support h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.support p {
    margin-bottom: 20px;
    font-size: 16px ;
    text-align: center;
}

.support .support-form input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.support .support-form input {
    padding: 10px;
    border: none;
    width: 300px;
    border-radius: 5px;
}

/* here the footer section challenge*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #eaeaea;
}

.footer-text {
    margin: 0;

}

.social-icons a {
    margin-left: 10px;
    text-decoration: none;
}

.social-icons img{
    width: 24px;
    height: 24px;
}

/* Icon */

.reactimg {
    float: left;
    /* Vector */
width: 94.78px;
height: 84.41px;
left: 0;
top: 11.8px;
margin-right: 10px;
}

.react {
    text-align: start;
    font-size: 24px;
    font-weight: 800px;
}

.reactpara {
    text-align: start;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
}

.nodeimg{
    float: left;
    /* Vector */
width: 94.78px;
height: 84.41px;
left: 0;
top: 11.8px;
margin-right: 10px;
}

.node {
    text-align: start;
    font-size: 24px;
    font-weight: 800px;
}

.nodepara {
    text-align: start;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
}

.mongoimg{
    float: left;
    /* Vector */
width: 94.78px;
height: 84.41px;
left: 0;
top: 11.8px;
margin-right: 10px;
}

.mongo {
    text-align: start;
    font-size: 24px;
    font-weight: 800px;
}

.mongopara {
    text-align: start;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
}