@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Azeret Mono", monospace;
}

/*Top Header Banner and Text start here */ 

.banner-container {   
position: absolute;
width: 1440px;
height: 652px;
margin: 0 auto;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
margin: top 20px;
background-image: url(../images/Hero-bg.png); 

}
  /* Laptop boy icon */
.laptopboy {
  display: inline;
  margin-top: 26px;
  flex-direction: row;
  margin-left: 599px;

}

/*header text and title */

.headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headertext > h2 {
    color:rgb(13, 19, 33) ;
    font-size: 48px;
    font-weight: 800px;
    text-align: center;
}

.headertext > p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font: weight 400px; ;
    margin-top: 24px;
}

.contactme{
    border-radius: 8px;
    
    background: rgb(13, 19, 33);
   
position: static;
width: 208px;
height: 66px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
border: none;
margin: 32px 0;
font-size: 20px;
font-weight: 600px;
text-align: center;

}


/* Header bottom why development */

.backgroundbox {
    width: 946px;
    background-color: rgb(241, 241, 241);
    margin: 852px auto 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
   
    
}

.containerbox {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: static;
    font-display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: right;
    

}

.containerbox h3 {
    margin: 0;
    margin-right: 0%;
   
}

.containerbox p {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}

.rightside-image {
    width: 150px;
    
}

.textrect {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*Here go the target-next target section*/

section{
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}


.video-youtube{
    text-align: center;
    margin: 15px;
}

iframe{
    border: none;
    border-radius: 5px;
}

.smallboxgroup {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: width;
    border: 2px red;
}

.smallbox {
    background: peachpuff;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 200px;
    text-align: center;
}

h4 {
    font-size:24px ;
    margin-bottom: 10px;
}

.learnmore {
    background-color: rgb(13, 19, 33);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.learnmore:hover {
    background-color: #0056b3;
}